body{
    margin: 0 auto; 
    background-color: white;
}

ul{
    padding: 0px; 
    margin: 0px; 
}
a{
    color: #7c7878; 
    font-size: 1em; 
}
h1, h2, h3, p{
    margin: 0em 0em 0.5em 0em; 
}

/**************
trial
***************/

html{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px; 
    font-weight: 400; 
    line-height: 1; 
}

h1{
    font-size:2em; 
}

h3{
    padding: 0em 0em 0.5em 0em; 
    margin:0px; 
}

@media screen and (min-width:415px){
    h1{
        font-size:3em; 
    }
}
@media screen and (min-width:1024px){
    .h1{
        font-size:4.5em;  
    }   
}

ul{
    list-style: none; 
}
li{
    display: inline; 
}
a{
    text-decoration: none; 
}
.left{
    float:none; 
}
.right{
    float:none;
}
.clear{
    clear:both;
}

.wrapper{
    width: 100%; 
    margin: 0 auto;
}

@media screen and (min-width:415px){
    .left{
        float:left;  
    }
    .right{
        float: right; 
    }
    .wrapper{
        width: 90%; 
        margin:0 auto; 
    } 
}
@media screen and (min-width:1024px){
    .wrapper{
        width: 70%; 
        margin:0 auto; 
    }   
}

#slider {
    position:relative; 
}

#slider img{
    position: relative; 
}

.slider-text {
    position:absolute; 
    top: 15%; 
    left: 5%;
    color:white; 
}

.slider-text h1{
    margin-bottom: 0.3em; 
}

@media screen and (min-width:415px){
    .slider-text{
        top: 15%; 
        left:5%; 
    }
}

@media screen and (min-width:1024px){
    .slider-text{
        top: 40%; 
        left:20%; 
    }
}

.work-item {
    position: relative;  
    float: left; 
    margin-right:0.5em; 
    margin-bottom: 0.5em; 
}

@media screen and (min-width:415px){
    .work-item:nth-child(2n){
        margin-right: 0; 
    }
    
}

@media screen and (min-width:1024px){
    .work-item:nth-child(2n){
        margin-right: 0.5em; 
    }
    .work-item:nth-child(3n){
        margin-right: 0; 
    }
    
}

.work-info {
    margin: auto; 
    position: absolute;
    bottom: 0; 
    top: 0; 
    right: 0;  
    left: 0;  
    text-align: center; 
    color: white; 
    height: 3em;
}

#bottom{
    background-color: darkgray;
    position: relative; 
    display: block; 
    padding: 0.5em; 
}

#widget-bar {
    padding: 0.5em 0em 1em 0em; 
}

#widget-bar h2, 
#widget-bar h3, 
#widget-bar p,
#widget-bar aside,
#bottom aside{
    text-align: center; 
}


@media screen and (min-width:415px){
    #widget-bar h2, 
    #widget-bar h3, 
    #widget-bar p,
    #bottom aside{
        text-align: left; 
    }
}

#article li {
    display: block;
    margin-bottom: 0.5em; 
}
.social-link{
    margin-right: 1em; 
}

footer{
    font-size: 0.8em; 
    text-align: center; 
    margin: 0.5em 0em 0.5em 0em;
    line-height: 1.5; 
}

.menu-item-link {
    text-transform: uppercase; 
}

header {
    padding: 0.5em; 
}

#logo{
    position: relative;  
}

.logo-name {
    position: relative;
    height: 34px; 
}

.name {
    position: absolute; 
    top: 0px; 
    right: 0px; 
    bottom: 0px; 
    left: 0px; 
}

.block {
    
}
.block:before{
    content: ''; 
    height:100%; 
    vertical-align: middle; 
    text-align: center; 
}
.center{
    vertical-align: middle; 
    display:inline-block; 
}

.work-item-block {
    float:left; 
    margin-right: 0.5em; 
    text-align: center; 
    border: #a0a0a0 solid 1px;
}
.work-item-block::before{
    height: 100%; 
    vertical-align: middle; 
    content: ''; 
    display: inline-block; 
}
