body{
    margin: 0 auto; 
}
ul{
    list-style: none; 
}
li{
    display: inline; 
}
a{
    text-decoration: none; 
}
.left{
    float:left; 
}
.right{
    float:right; 
}
.clear{
    clear:both;
}
.wrapper{
    margin: 0 auto; 
    width:50%; 
}
#bottom{
    background-color: darkgray;
}